doctype html
html(class="no-js", lang="uk")

  include ../components/loader/loader
  include ../components/head/head
  include ../components/header/header
  include ../components/footer/footer
  include ../components/b-modal-gov/b-modal-gov
  include ../components/b-modal-test/b-modal-test

  block head

  body

    //- block loader
      +loader()



    .page-wrapper.l-theme#main-content

      .page-inner

        block header

        block content

      +footer()

    // Modal government
    +b-modal-gov()


    // Modal test
    +b-modal-test()


    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script svg4everybody();



    // ++++++++++++
    // MAIN SCRIPTS
    // ++++++++++++

    script(src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-migrate-1.4.1.min.js")

    // Bootstrap
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous")


    // Select customization
    script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js")

    // Pop-up window
    script(src="assets/plugins/magnific-popup/jquery.magnific-popup.min.js")

    // Accessibility
    script(src="assets/plugins/accessibility/accessibility.min.js")

    // Scale images
    script(src="assets/plugins/ofi.min.js")

    // Slider
    script(src='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js')


    block scripts

    // User customization
    script(src='assets/js/custom.js')
