extends _template.pug

include ../components/b-accessibility/b-accessibility

block head
  head
    +head(head.defaults)

block content

  main.l-content
    .container
      .row
        .col-xs-12

          .section-default.text-center
            h1 Перелік сторінок
            ul.list-page.list-unstyled(style="text-align: left;")
              li
                a.text-success(href="index.html" target="_blank") Головна
              li
                a.text-success(href="form-appeal.html" target="_blank") Запит
              li
                a.text-success(href="about.html" target="_blank") Про нас
              li
                a.text-success(href="contacts.html" target="_blank") Контакти
              li
                a.text-success(href="appeal.html" target="_blank") Звернення
              li
                a.text-success(href="appeal-answer.html" target="_blank") Звернення + відповідь
              li
                a.text-success(href="appeals.html" target="_blank") Реєстр звернень
              li
                a.text-success(href="construction.html" target="_blank") Споруда
              li
                a.text-success(href="login.html" target="_blank") Логін
              li
                a.text-success(href="registration.html" target="_blank") Регістрація
              li
                a.text-success(href="home.html" target="_blank")
              li
                a.text-success(href="ui.html" target="_blank") UI
              li
                a.text-success(href="home.html" target="_blank")
              li
                a.text-success(href="home.html" target="_blank")

  .page__buffer
