.b-map {
  position: relative;
  &__main {
    position: relative;
  }
  &__map {
    height: 587px;
    width: 100%;
  }
}


.b-map-search {
  position: absolute;
  left: 0;
  right: 0;
  top: 55px;
  z-index: 1;

  &__form {
    border-radius: 4px;
    background-color: #f4f7fb;
    padding: 10px;
    position: relative;
    transition: all .3s;
    width: 100%;
  }
  &__input {
    color: #848e99;
    font-weight: 600;
    width: 100%;
    padding: 12px 0 12px 10px;
    border: none;
    background-color: transparent;

    @include placeholder {
      color: #848e99;
    }
  }
  &__btn {
    padding-left: 15px;
    padding-right: 15px;
  }
}


.b-map-btns {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  &__inner {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  &__link {
    margin-right: 30px;
    background-color: #FFF;
    text-align: left;
    padding-left: 15px;
    padding-right: 30px;
    min-width: 170px;
    position: relative;
    transition: all .3s;
    .ic {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 5px;
      &_fix-right {
        right: 10px;
      }
    }
    &:hover {
      opacity: 0.5;
    }
  }
  .container {
    position: relative;
  }

  @include media-breakpoint-down(md) {
    &__link {
      margin-top: 5px;
    }
  }
}


.b-map-filter {
  position: absolute;
  right: 0;
  top: 0;
  width: 505px;
  min-height: 100%;
  background-color: #FFF;
  z-index: 10;
  padding: 28px 23px;
  display: none;
  box-shadow: 0 0.25rem 0.75rem rgba(95, 95, 95, 0.15);

  &__section {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
  &__title {
    margin-bottom: 20px;
  }
  &__btns-wrap {
    margin-bottom: 5px;
  }
  .close {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 2rem;
  }

  @include media-breakpoint-down(md) {
    width: 300px;
    &__btns {
      margin-bottom: 20px;
    }
  }
}
