mixin b-map()

  form.b-map
    .b-map__main
      .b-map__map#map-main
      .b-map-search.container
        .b-map-search__form
          .row.align-items-center
            .col
              input.b-map-search__input(type="text" placeholder="Пошук за адресою")
            .col-auto
              button.b-map-search__btn.btn.btn-primary Знайти

      .b-map-btns
        .container
          .b-map-btns__inner
            button.b-map-btns__link.btn.js-map-toggle(type="button") Фільтри
              != pugHelpers.Icon.call(locals, {iconName: 'list', className: 'ic ic_fix-right svg-fill-primary', iconWidth: '18', iconHeight: '16'})
            button.b-map-btns__link.btn(type="button") Додати
              != pugHelpers.Icon.call(locals, {iconName: 'add', className: 'ic svg-fill-primary', iconWidth: '24', iconHeight: '24'})

    .b-map-filter
      .b-map-filter__inner.row.flex-md-row-reverse
        .b-map-filter__btns.col-md-6
          .b-map-filter__btns-wrap
            button.btn-link.js-active-checkboxes(type="button") Обрати всі
          .b-map-filter__btns-wrap
            button.btn-link(type="reset") Очистити фільтри

        .col-md-6
          .b-map-filter__section
            .b-map-filter__title Тип конструкції

            .ui-check-group
              .custom-control.custom-checkbox
                input.custom-control-input#kiosk(type="checkbox")
                label.custom-control-label(for="kiosk") кіоск
              .custom-control.custom-checkbox
                input.custom-control-input#PPabsent(type="checkbox")
                label.custom-control-label(for="PPabsent") ПП відсутній
              .custom-control.custom-checkbox
                input.custom-control-input#pavilion(type="checkbox")
                label.custom-control-label(for="pavilion") павільйон
              .custom-control.custom-checkbox
                input.custom-control-input#unauthorizedTc(type="checkbox")
                label.custom-control-label(for="unauthorizedTc") самовільна ТС
              .custom-control.custom-checkbox
                input.custom-control-input#intentions(type="checkbox")
                label.custom-control-label(for="intentions") наміри
              .custom-control.custom-checkbox
                input.custom-control-input#pavilionWithStop(type="checkbox")
                label.custom-control-label(for="pavilionWithStop") павільйон з зупинкою
              .custom-control.custom-checkbox
                input.custom-control-input#pavilionWithStop2(type="checkbox")
                label.custom-control-label(for="pavilionWithStop2") павільйон з зупинкою
              .custom-control.custom-checkbox
                input.custom-control-input#autotrailer(type="checkbox")
                label.custom-control-label(for="autotrailer") автотрейлер

          .b-map-filter__section
            .b-map-filter__title На мапі

            .ui-check-group
              .custom-control.custom-checkbox
                input.custom-control-input#present(type="checkbox" )
                label.custom-control-label(for="present") присутні
              .custom-control.custom-checkbox
                input.custom-control-input#missing(type="checkbox" )
                label.custom-control-label(for="missing") відсутні


      button.close.js-map-close(type="button" aria-label="Close")
        span(aria-hidden="true") &times;

  // end .b-map
  |
  |
