.b-card {
  margin-bottom: 30px;
  padding: 15px;
  font-size: 0.875rem;
  border-radius: 4px;
  border: 1px solid #c2c5cb;
  background-color: #ffffff;
  transition: all .3s;
  &__media {
    margin-right: -4px;
    margin-left: -4px;
    margin-bottom: 22px;
  }
  &__img {
    border-radius: 4px;
    overflow: hidden;
    padding-left: 4px;
    padding-right: 4px;
  }
  &__header {
    padding-bottom: 10px;
    margin-bottom: 18px;
    border-bottom: 2px solid $color-main;
  }
  &__name {
    font-size: 1.125rem;
    font-weight: 600;
  }
  &__label {}
  &__desrip {
    margin-bottom: 12px;
  }
  &__title {
    color: #848e99;
    font-weight: 600;
  }
  &__info {
    color: #848e99;
    &_lg {
      height: 2.8rem;
      overflow: hidden;
    }
  }
  &__link {
    display: inline-block;
    color: $color-main;
    line-height: 1.25rem;
    border-bottom: 1px dashed $color-main;
    line-height: 1;
    &:hover {
      text-decoration: none;
      color: $color-main;
      opacity: 0.5;
    }
  }
  .ic-link {
    vertical-align: sub;
  }
  .btn {
    margin-top: 30px;
  }

  &:hover {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 7, 123, 0.04), 0 0.5rem 1.25rem rgba(0, 0, 0, 0.06);
    background-color: #f5f7fa;
    border-color: #F5F7FA;
  }

  &:hover .btn {
    color: #f4f7fb;
  }
}
