.b-appeal {
  font-size: 1.125rem;
  &__title {
    font-size: 3rem;
    margin-bottom: 48px;
  }
  &__map {
    height: 382px;
  }

  @include media-breakpoint-down(sm) {
    &__title {
      margin-bottom: 20px;
    }
  }
}

.b-appeal-links {
  text-align: right;
  margin-bottom: 20px;
  margin-top: -50px;
  &__item {
    color: #224f91;
    font-size: 1rem;
    white-space: nowrap;
    &:not(:first-child) {
      margin-left: 40px;
    }
    .ic {
      fill: #224f91;
      opacity: 0.6;
    }

    &:hover {
      text-decoration: none;
      opacity: 0.5;
      color: #224f91;
    }
  }

  @include media-breakpoint-down(sm) {
    margin-top: 0;
    &__item {
      display: block;
      &:not(:first-child) {
        margin-left: 0;
        margin-top: 10px;
      }
    }
  }
}


.b-appeal-descrip {
  margin-top: 20px;
  display: table;
  &__item {
    display: table-row;
  }
  &__title {
    display: table-cell;
    color: #848e99;
    font-size: 0.875rem;
    font-weight: 600;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  &__info {
    display: table-cell;
    color: #848e99;
    font-size: 0.875rem;
    padding-left: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

.b-appeal-answer {
  margin-top: 25px;
  &__title {
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
  &__info {
    padding: 30px 170px 20px 40px;
    background-image: url("../media/content/b-appeal/bg-1.png");
    background-position:  100% 50%;
    background-repeat: no-repeat;
    line-height: 1.25;
    ol {
      padding-left: 0;
      list-style-position: inside;
      li {
        margin-bottom: 1rem;
      }
    }
  }
}

.b-appeal-carousel {
  margin-bottom: 30px;
  &__main {
  }
  &__main-item {
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    height: 384px;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    }
  }
  &__nav {
    margin-top: 16px;
  }
  &__nav-item {
    border: 8px solid $color-gray;
    border-radius: 4px;
    overflow: hidden;
    margin-right: 9px;
    transition: all .3s;
  }

  .slick-track {
    margin-left: 0;
    margin-right: 0;
  }
}
