mixin b-main-table()

  .container
    .b-main-table__wrap
      .table-responsive-md
        table.b-main-table.table.table-borderless.table-hover(class!=attributes.class)
          thead
            tr
              th
                span.th-inner № документу
              th
                span.th-inner Замовник
              th.th_w_ic
                span.th-inner Видано
                  != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_180 fill-main', iconWidth: '24', iconHeight: '24'})
              th.th_w_ic
                span.th-inner Дійсно до
                  != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_180 fill-main', iconWidth: '24', iconHeight: '24'})
              th.th_w_ic
                span.th-inner Тип
                  i.ic.ic-ar-down
              th.th_w_ic
                span.th-inner Адреса
                  != pugHelpers.Icon.call(locals, {iconName: 'location', className: 'ic fill-light-2', iconWidth: '24', iconHeight: '24'})

          tbody
            tr
              td
                a(href="#") 1034-7630
              td
                a(href="#") ФОП Наконечний В.О
              td
                a(href="#") 27.12.2018
              td
                a(href="#") 09.01.2019
              td
                a(href="#") Кіоск
              td
                a(href="#") Мазепи
            tr
              td
                a(href="#") 1034-7630
              td
                a(href="#") ФОП Наконечний В.О
              td
                a(href="#") 27.12.2018
              td
                a(href="#") 09.01.2019
              td
                a(href="#") Кіоск
              td
                a(href="#") Мазепи
            tr
              td
                a(href="#") 1034-7630
              td
                a(href="#") ФОП Наконечний В.О
              td
                a(href="#") 27.12.2018
              td
                a(href="#") 09.01.2019
              td
                a(href="#") Павільйон з зупинкою
              td
                a(href="#") Мазепи
            tr
              td
                a(href="#") 1034-7630
              td
                a(href="#") ФОП Наконечний В.О
              td
                a(href="#") 27.12.2018
              td
                a(href="#") 09.01.2019
              td
                a(href="#") Кіоск
              td
                a(href="#") Володимира Великого
            tr
              td
                a(href="#") 1034-7630
              td
                a(href="#") ФОП Наконечний В.О
              td
                a(href="#") 27.12.2018
              td
                a(href="#") 09.01.2019
              td
                a(href="#") Кіоск
              td
                a(href="#") Мазепи
            tr
              td
                a(href="#") 1034-7630
              td
                a(href="#") ФОП Наконечний В.О
              td
                a(href="#") 27.12.2018
              td
                a(href="#") 09.01.2019
              td
                a(href="#") Кіоск
              td
                a(href="#") Мазепи
            tr
              td
                a(href="#") 1034-7630
              td
                a(href="#") ФОП Наконечний В.О
              td
                a(href="#") 27.12.2018
              td
                a(href="#") 09.01.2019
              td
                a(href="#") Кіоск
              td
                a(href="#") Мазепи

    .text-center
      button.b-main-table__btn.btn.btn-primary(type="button") Завантажити ще
        != pugHelpers.Icon.call(locals, {iconName: 'reload-2', className: 'ic ic-rot_180 fill-main', iconWidth: '16', iconHeight: '9.6'})

  // end .b-main-table
  |
  |
