.b-main-table {

  thead {
    tr {}
    th {
      color: #848e99;
      padding: 0 5px 15px;
      font-weight: normal;
      .th-inner {
        background-color: #f4f7fb;
        display: block;
        padding: 12px 14px;
        border-radius: 4px;
        white-space: nowrap;
        position: relative;
      }
      .ic {
        position: absolute;
        right: 10px;
        top: 13px;
      }
      .ic-ar-down {
        border-radius: 3px;
        border-width: 5px;
        border-style: solid;
        border-color: #C7CCD1 transparent transparent;
        right: 15px;
        top: 21px;
      }
    }
  }

  .th_w_ic .th-inner {
    padding-right: 35px;
  }



  tbody {
    tr {}
    td {
      font-size: .875rem;
      font-weight: 600;
      line-height: 1.71;
      color: #838e9a;
      &:nth-child(1),
      &:nth-child(3),
      &:nth-child(4) {
        white-space: nowrap;
      }
    }
  }
  a {
    color: #838e9a;
    &:hover {
      text-decoration: none;
      color: #838e9a;
    }
  }

  &__btn {
    margin-top: 55px;
    .ic {
      fill: #ffe358;
      margin-left: 20px;
      transition: all .3s;
    }
    &:hover {
      .ic {
        fill: #212529;
      }
    }
  }


  @include media-breakpoint-down(sm) {
    &__wrap {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 30px;
        background: linear-gradient(to left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
      }
    }
  }
}
