mixin b-contacts()
  section.b-contacts
    .container
      h1.ui-title Контакти департаменту
      p Департамент екології та природних ресурсів є структурним підрозділом Донецької обласної державної адміністрації, якій підпорядковується голові Донецької обласної державної адміністрації, а також підзвітний і підконтрольний Міністерству екології та природних ресурсів України.
      p Забезпечення в межах повноважень облдержадміністрації реалізації на території області державної політики у сферах охорони навколишнього природного середовища, та раціонального використання, відтворення та  охорони природних ресурсів поводження з відходами (крім поводження з радіоактивними відходами), пестицидами та агрохімікатами; екологічної безпеки, заповідної справи, формування, збереження та використання екологічної мережі.

      .row
        .col-xl-4
          .b-contacts-user
            .b-contacts-user__img
              img.img-scale(src="assets/media/content/b-contacts/face.jpg", alt="foto")
            .b-contacts-user__title Натрус Сергій Петрович
            .b-contacts-user__category Директор департаменту екології<br>та природних ресурсів

          .b-contacts__section
            .b-contacts__title Гаряча лінія:
            a.b-contacts__phone(href="tel:08005096201") 0 800 509 62 01
            .b-contacts__item Цілодобово

          .row
            .col-auto
              .b-contacts__section
                .b-contacts__title.pb-2 Контакти прес-служби:
                .b-contacts__item
                  a.b-contacts__link(href="tel:+380625006214") +38 062 500 62 14;
                .b-contacts__item
                  a.b-contacts__link(href="tel:+380625006213") +380 (62) 500-62-13 (факс);
                .b-contacts__item
                  a.b-contacts__email(href="mailto:eco.d@dn.gov.ua") eco.d@dn.gov.ua

            .col-auto
              .b-contacts__section
                .b-contacts__title Адреса:
                .b-contacts__item.pb-2 м. Покровськ, вул. Б.Хмельницького, 6
                .b-contacts__item.pb-2 Пн-Пт, з 9.00 до 18.00

        .col-xl-8
          .b-contacts__map.mt-4.mt-xl-0#map-main

          section.section-area
            h2.ui-title Форма зворотнього зв`язку
            form.b-contacts-form.ui-form.needs-validation(novalidate)
              .form-group
                .ui-input
                  label.ui-input__label(for="contactTitle")
                    span.ui-input__label-content Тема
                  input.ui-input__field.form-control.js-input#contactTitle(type="text" required)
                  .invalid-feedback Поле не заповненне

              .row
                .col-md-6
                  .form-group
                    .ui-input
                      label.ui-input__label(for="contactName")
                        span.ui-input__label-content Iм'я
                      input.ui-input__field.form-control.js-input#contactName(type="text" required)
                      .invalid-feedback Поле не заповненне

                .col-md-6
                  .form-group
                    .ui-input
                      label.ui-input__label(for="contactEmail")
                        span.ui-input__label-content E-mail
                      input.ui-input__field.form-control.js-input#contactEmail(type="email" required)
                      .invalid-feedback Поле не заповненне

              .form-group
                .ui-input.ui-input_r-4
                  label.ui-input__label(for="contactText")
                    span.ui-input__label-content Текст Вашого звернення
                  textarea.ui-input__field.form-control.js-input#contactText(required)


              .row.justify-content-end.align-items-center
                .col-sm-auto
                  .custom-control.custom-checkbox
                    input.custom-control-input(type="checkbox"  required)#agreement
                    label.custom-control-label(for="agreement") Я згоден з правилами звернень громадян та обробки моїх даних
                .col-sm-auto
                  button.btn.btn.btn-secondary.mt-3.mt-sm-0 Надіслати

            // end .b-contacts-form
            |
            |

  // end .b-contacts
  |
  |
