.b-contacts {
  font-size: 1.125rem;
  &__section {
    margin-top: 50px;
    padding-right: 50px;
  }
  &__title {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.625rem;
    margin-bottom: 3px;
  }
  &__item {}
  &__link {
    color: $color-main;
  }
  &__phone {
    color: $color-main;
    font-size: 1.5rem;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 13px;
  }
  &__email {
    text-decoration: underline;
  }
  &__map {
    height: 357px;
    border-radius: 4px;
    margin-bottom: 18px;
  }

  @include media-breakpoint-down(md) {
    &__section {
      margin-top: 35px;
      padding-right: 0;
    }
    &__map {
      margin-top: 25px;
      height: 310px;
    }
  }
}

.b-contacts-user {
  padding-top: 20px;
  &__img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0.75rem 1.25rem rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
  }
  &__title {
    font-size: 1.5rem;
    letter-spacing: -0.012rem;
    margin-bottom: 5px;
  }
  &__category {
    color: #848e99;
    font-size: 1.125rem;
  }
}
