/*//////////////////////////////////////////////////////////////////////////////////////////*/
/* COLOR CSS 1*/
/*//////////////////////////////////////////////////////////////////////////////////////////*/


a,
.text-primary,
.list > li > a:hover,
.breadcrumb > li > a:hover,
.footer-nav__link:hover,
.bootstrap-select .dropdown-menu li a:hover {color: #2d5ca6;}


.bg-primary,
.btn-primary,
.ui-slider_dots_sm .slick-active button,
.custom-control-input:checked ~ .custom-control-label:before,
.sp-button:hover,
.sp-selected-button,
.user-content ul li:before,
.btn-secondary:hover,
.b-card:hover .btn {background-color: #2d5ca6;}


.btn-primary,
.bootstrap-select .bs-ok-default:after,
.bootstrap-select.show-tick .dropdown-menu .selected span.check-mark,
.custom-control-input:checked ~ .custom-control-label:before,
.custom-control-label:not(disabled):hover:before,
.sp-button:hover:after,
.sp-selected-button:after,
.b-appeal-carousel__nav-item.slick-current {border-color: #2d5ca6;}


.slick-arrow:hover:before,
.slick-arrow:focus:before {
  border-top-color: #2d5ca6;
}
/* {border-right-color: #2d5ca6;} */

.pagination li.active a,
.pagination li.active span,
.main-menu__item.active,
.main-menu__item:hover {
  border-bottom-color: #2d5ca6;
}

.slick-arrow:hover:before,
.slick-arrow:focus:before {
  border-left-color: #2d5ca6;
}

#page-preloader .spinner {
  border-color: #2d5ca6 #2d5ca6 #2d5ca6 transparent;
}

.pagination__icon:hover {
  stroke: #2d5ca6;
}


.ic-primary {
  stroke: #2d5ca6 !important;
}

.fill-primary {
  fill: #2d5ca6;
}

/* Color First Secondary */

.footer,
.header-top {
  background-color: #08183b;
}

/* Second color */

.btn-secondary,
.bg-secondary {
  background-color: #ffe358;
}

.btn-secondary {
  border-color: #ffe358;
}

.fill-secondary,
.btn .fill-secondary {
  fill: #ffe358;
}
