
/* ======= PRELOADER ========== */

.preloaderjs .spinner {
  display: none !important;
}
.preloaderjs#page-preloader {
  background: rgba( 46, 46, 46, 0.99)  !important;
}

#page-preloader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 100500;
  .spinner {
    position: absolute;
    top: 25%;
    left: 50%;
    display: block;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    margin-left: -25px;
    border: 3px solid transparent;
    border-radius: 50%;
    z-index: 1001;
    -webkit-animation: spin 1s infinite linear;
            animation: spin 1s infinite linear;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
