.b-login {
  text-align: center;
  max-width: 280px;
  margin: 0 auto 20px;
  &__title {
    font-weight: 600;
    line-height: 1.5rem;
    margin-bottom: 30px;
  }
  &__input {
  }
  &__note {
    font-size: 0.875rem;
    font-weight: 600;
    color: #848e99;
    a {
      color: inherit;
    }
  }
  &__link {
    color: #262626;
    font-size: 0.875rem;
  }
  .btn {
    margin-top: 70px;
    width: 210px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
  .custom-control-label {
    font-size: 0.875rem;
    font-weight: 400;
    vertical-align: baseline;
  }
  .custom-control {
    margin-bottom: 0;
  }


  @include media-breakpoint-down(lg) {
    &__note {
      margin-top: 20px;
    }
  }

  @include media-breakpoint-down(md) {
    margin-top: 0;
    margin-bottom: 0;
    .btn {
      margin-top: 20px;
      width: 100%;
    }
  }
}

