mixin b-login()

  form.b-login.ui-form.needs-validation(novalidate)
    .b-login__title Увійдіть у свій обліковий запис
    .form-group
      .b-login__input.ui-input
        label.ui-input__label(for="loginEmail")
          span.ui-input__label-content Пошта
        input.ui-input__field.form-control.js-input#loginEmail(type="email" required value="anna.petrenchenko@mon.gov.ua")
        .invalid-feedback Поле не заповненне
    .form-group
      .b-login__input.ui-input
        label.ui-input__label(for="loginPassword")
          span.ui-input__label-content Пароль
        input.ui-input__field.form-control.js-input#loginPassword(type="password" required value="1234567")
        .invalid-feedback Поле не заповненне

    .row.justify-content-between
      .col-7
        .form-group.custom-control.custom-checkbox
          input.custom-control-input.js-input(type="checkbox")#remember
          label.custom-control-label(for="remember") Запам'ятати мене
      .col-5
        a.b-login__link(href="#") Забули пароль?


    button.btn.btn.btn-primary Увійти
    .b-login__note або
      |
      |
      a(href="#") активувати обліковий запис

  // end .b-login
  |
  |


mixin b-login_confirm()

  form.b-login.ui-form.needs-validation(novalidate)
    .b-login__title Відправити повторно інструкції підтвердження
    .form-group
      .b-login__input.ui-input
        label.ui-input__label(for="repeatEmail")
          span.ui-input__label-content Пошта
        input.ui-input__field.form-control#repeatEmail(type="email" required)
        .invalid-feedback Поле не заповненне
    button.btn.btn.btn-primary Відправити

  // end .b-login
  |
  |


