mixin navig()
  ul.main-menu.navbar-nav
    li.main-menu__item.active
      a.main-menu__link(href="#") Головна
        span.sr-only (поточна)
    li.main-menu__item
      a.main-menu__link(href="#") Подати запит
    li.main-menu__item
      a.main-menu__link(href="#") Всі звернення
    li.main-menu__item
      a.main-menu__link(href="#") Загальний реєстр
    li.main-menu__item
      a.main-menu__link(href="#") Про проект
    li.main-menu__item
      a.main-menu__link(href="#") Контакти


  // end navig
